<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.ui.commands">
		<command
            categoryId="com.lausdahl.ide.assistance.category1"
            description="Reveal in Explorer"
            id="com.lausdahl.ide.assistance.revealInExplorerCommand"
            name="Reveal in Explorer">
		</command>
		<category
            id="com.lausdahl.ide.assistance.category1"
            name="IDE Assistance">
		</category>
		
		

	</extension>
	<extension
         point="org.eclipse.ui.handlers">
		<handler
            class="com.lausdahl.ide.assistance.RevealInExplorerHandler"
            commandId="com.lausdahl.ide.assistance.revealInExplorerCommand">
		</handler>
	</extension>
	
	<extension
         point="org.eclipse.ui.bindings">
		<key
            commandId="com.lausdahl.ide.assistance.revealInExplorerCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+Enter">
		</key>
	</extension>

	<extension
         point="org.eclipse.ui.menus">
		<menuContribution allPopups="true"
           locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">


			<menu icon="icons/cview/advancedsettings.png"
                 id="com.lausdahl.ide.assistance.menu1"
                 label="IDE Assistance">

				<command commandId="com.lausdahl.ide.assistance.revealInExplorerCommand"
                     icon="icons/cview/open_folder.png"
                     label="Reveal in Explorer"
                     style="push">
					<!--visibleWhen
                               checkEnabled="false">
						<iterate>
							<or>
								<instanceof
                                        value="org.eclipse.core.resources.IFile">
								</instanceof>
								<instanceof
                                        value="org.eclipse.core.resources.IProject">
								</instanceof>
								<instanceof
                                        value="org.eclipse.core.resources.IFolder">
								</instanceof>
							</or>
						</iterate>
					</visibleWhen-->
				</command>



			</menu>

		</menuContribution>
	</extension>



</plugin>
